.app_name_parent {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

svg {
    vertical-align: middle;
}

.app_name {
    margin-left: 2rem;
    align-items: center;
}

.app_name_menu {
    margin-right: 2rem;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 768px) {
    .app_name {
        margin-left: 1rem;
    }

    .app_name_menu {
        margin-right: 1rem;
    }
}

.dropdown_box {
    position: absolute;
    right: 0;
    background: #1f1f1f;
    width: 120px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    padding: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
}

.dropdown_link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown_link:hover {
    color: #ddd;
}