.header_parent {
    margin-left: 2rem;
    margin-top: 0.7rem;
}

@media(max-width: 768px) {
    .header_parent {
        margin-left: 1rem;
    }
}

/* .header_title {
  display: inline-block;
  overflow: hidden;
  animation: headertitletext 0.35s ease forwards;
}

@keyframes headertitletext {
  from {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
} */


