.hostel_name_hostelpage {
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}

.kiit_logo {
    height: 10rem;
}

@media(max-width: 768px) {
    .kiit_logo {
        height: 7rem;
    }
}

.social_logos {
    padding: 0.5rem;
    border: 2px solid #fafad2;
    color: #fafad2;
    border-radius: 50%;
}

.social_logos:hover {
    color: white;
    border: 2px solid white;
}

.share_the_app {
    margin-top: 3rem;
    border: 2px solid white;
    border-radius: 6px;
    padding: 0.3rem;
    width: 180px;
    box-shadow: 0px 0px 10px white;
}

.share_the_app:hover {
    border: 2px solid #fafad2;
    box-shadow: 0px 0px 10px #fafad2;
    cursor: pointer;
}

.hostel_app_descriotion {
    margin-top: 3rem;
    width: 35%;
    text-align: center;
    text-justify: inter-word;
}

@media(max-width: 768px) {
    .hostel_app_descriotion {
        width: 90%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
}

.popup_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    border-radius: 10px;
}

@media(max-width: 768px) {
    .popup_image {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
    }
}




.hostel_social_links_div_and_arrow{
    display: flex;
    justify-content: space-around;
    width: 35%;
    align-items: center;
    border-bottom: 1px solid #4e452e;
    gap: 15px;
}

@media(max-width: 768px){
    .hostel_social_links_div_and_arrow{
        width: 90%;
    }
}

.hostel_social_links_div_and_arrow:last-child {
    border-bottom: none;
}

.hostel_social_links_parent {
    margin-bottom: 2rem;
}

.hostel_social_links_div {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

@media(max-width: 768px) {
    .hostel_social_links_div {
        width: 100%;
    }
}

.hostel_logo_text {
    text-align: left;
}

.hostel_end_arrow{
    text-align: right;
}

.social_arrow{
    color: white;
}