.menu_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media(max-width: 768px) {
    .menu_parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.menu_div1,
.menu_div2,
.menu_div3,
.menu_div4 {
    border: 1px solid #fafad2;
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    display: grid;
    background-color: #1E1E1E;
    grid-template-columns: repeat(2, 1fr);
}

.menu_title_name {
    font-weight: 500;
    font-size: 1.2rem;
}

.menu_description {
    font-size: 1rem;
    font-weight: 100;
}

@media(max-width: 768px) {
    .menu_description {
        font-size: 0.8rem;
        font-weight: 100;
    }
}


.menu_sub_part_div3 {
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: space-between;
}

.menu_sub_part_div2 {
    text-align: right;
}

.bus_number_section{
    display: flex;
    margin-top: 0.5rem;
}

.bus_number{
    margin-left: 0.5rem;
    background-color: #b8860b;
    padding: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 3px;
}
