.info_body_parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media(max-width: 768px) {
    .info_body_parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.info_body_div1,
.info_body_div2,
.info_body_div3 {
    border: 1px solid #fafad2;
    background-color: #1E1E1E;
    border-radius: 10px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: left;
    padding-left: 0.5rem;
}

.info_body_div1_bus {
    border: 1px solid #fafad2;
    background-color: #1E1E1E;
    border-radius: 10px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
}