.font_app_name {
    color: #ffffff;
    font-size: 2rem;
}

.font_hostel_name {
    color: #fafad2;
    font-weight: 100;
    font-size: 1.2rem;
}

.font_mess_menu {
    color: #B0B0B0;
    font-weight: 500;
    font-size: 0.9rem;
}

.font_footer_end_message {
    font-size: 1rem;
    color: #C0A000;
    font-weight: 100;
}

.font_info_title_name {
    font-weight: 500;
    font-size: 1.2rem;
}

.font_info_description {
    color: #B0B0B0;
    font-size: 1rem;
    font-weight: 400;
}

.font_title_text_for_info {
    font-weight: 500;
    font-size: 1.5rem;
}

.font_menu_title_name {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;
}

.font_menu_description {
    color: #B0B0B0;
    font-size: 1rem;
    font-weight: 400;
}

@media(max-width: 768px) {
    .font_menu_description {
        font-size: 0.8rem;
    }
}

.font_bus_no{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

@media(max-width: 768px){
    .font_bus_no{
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}
}

.font_menu_time {
    color: #B0B0B0;
    font-size: 0.9rem;
    font-weight: 400;
}

.font_info_icon {
    color: #FFD700;
}