.now_all_title_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
    margin-top: 1rem;
    
    border-bottom: 1px solid #2F2A1C;
    border-radius: 1px;
}

.now_all_title_all {
    padding-top: 4px;
    padding-bottom: 0.76rem;
    text-align: center;
    align-items: center;
}

.now_all_title_active {
    display: inline-block;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #fafad2;
    border-radius: 1px;
}

.now_all_title_all:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}