.day_title_parent {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    width: 100%;
    gap: 2px;
    flex-wrap: nowrap;

    padding: 0 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.day_title_parent > * {
    min-width: 0;
}

.day_title_all {
    border: 1px solid #fafad2;
    background-color: #1E1E1E;
    width: auto;
    min-width: 150px;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    align-items: center;
    flex-shrink: 1;
}

@media(max-width: 768px) {
    .day_title_all {
        min-width: 40px;
    }
}

.day_title_active {
    background-color: #5A5338;
}

.day_title_all:hover {
    background-color: #332D1C;
    cursor: pointer;
}
