.menu_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

@media(max-width: 768px) {
    .menu_parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

.menu_div1,
.menu_div2,
.menu_div3,
.menu_div4 {
    border: 1px solid #fafad2;
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    display: grid;
    background-color: #1E1E1E;
    grid-template-columns: repeat(2, 1fr);
}

.menu_sub_part_div3 {
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: space-between;
}

.menu_sub_part_div2 {
    text-align: right;
}



